.appx {
    -webkit-transform: translate3d(0,0,0);
}

/* Portrait layout (default) */
.appNOLONGER {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    /*position:absolute;*/             /* position in the center of the screen */
    /*left:50%;*/
    /*top:50%;*/
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.homeWrapperXXX
{
  background: #FCFCFC;
  overflow: hidden;
  z-index: 6666;
}
.homeBottomXXX
{
  /*background: url('../img/Image3_360x640_2.png') top no-repeat #FCFCFC ;*/
  width: 100%;
  height: 222px;
  text-align: center;
}

.bgimgXXX {
	width: 100%;
  height: 100%;
	position: absolute;
	--top: 150px;
	left: 0;
	z-index: -555;
}

/* too narrow - hide bg img*/
@media only screen and (max-width:550px)
{
  .bgimgXXX
  {
    display: none;
  }
}

/* wide enough to show*/
@media only screen and (max-width:320px)
{
  .bgimgXXX
  {
    top: 20px;
  }
}

@media only screen and (max-height:500px)
{
  .bgimgXXX
  {
    display: none;
  }
}