&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack()">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5 style="margin-left: -20px; color: #fff;">About Us</h5>
  </div>
</div>

<div class="firstContent">
  <div class="pad10">
    
    <div class="pad10 centAlign">
      <img ng-show="helpers.isOnline()" src="img/logo/fullLogo2.png"/>
    </div>

    <h5 style="float: left; min-height: 20px; margin-right: 10px;">©</h5>
    <h5 style="padding-left: 10px;">
      Moore Stephens International Limited
    </h5>
    
    <p>
      A wide range of professional services has been developed by the member firms over the 100 years since Moore Stephens was first founded to assit clients in meeting their cross-border commercial objectives. 
      These are complemented by local services in each country to the same high standard of personal service that is the Moore Stephens tradition.
       Services are provided in compliance with relevant national legislation and professional regulation.
    </p>

    <p>
      For more information, please visit www.moorestephens.com.
    </p>

  </div>
</div>


<div class="bottomSpace"></div>


