&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack()">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5>About Us</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">
  <div class="pad10">

    <h3 class="blue" style="display: inline-block">Moore Stephens International Limited</h3>
    
    <p>
      A wide range of professional services has been developed by the member firms over the 100 years since Moore Stephens was first founded to assit clients in meeting their cross-border commercial objectives. 
      These are complemented by local services in each country to the same high standard of personal service that is the Moore Stephens tradition.
       Services are provided in compliance with relevant national legislation and professional regulation.
    </p>

    <p>
      For more information, please visit <span class="blue bold" ng-click="helpers.openWebPage('hdnWebUrl')">www.moorestephens.com</span>.
    </p>
    <input type="hidden" id="hdnWebUrl" value="http://www.moorestephens.com" />

  </div>
</div>


<div class="bottomSpace"></div>


