&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item center full">
    <h5>About This App</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">
  <div class="pad10">
    <h3 class="blue" style="display: inline-block">Moore Stephens International Limited</h3>
    <h5 class="blue">International Directory Mobile App</h5>
    <p>
      This directory lists the firms and companies that are members of Moore Stephens International Limited "MSIL", and correspondent firms, and in the case of North America, all listed firms are members of Moore Stephens North America, which is itself a member of Moore Stephens International Limited.
    </p>

    <p>
      All the firms and companies listed are independent entities owned and managed in each location. Neither their membership of Moore Stephens International Limited nor their inclusion in this directory should be construed as constituting or implying any partnership between them. 
    </p>

    <p>© Moore Stephens International Limited</p>

    <br />

  </div>

  
  <ul class="topcoat-list__container list contactList">
    <li class="topcoat-list__item">
      <div class="blue">Directory data last updated on</div>
      <span class="lstSpan">{{LastUpdatedOn}}</span>
      
      <span class="miniBtn" style="margin-left: 0px;" ng-click="updateData()">REFRESH DATA</span>
      <br />
    </li>

     <li class="topcoat-list__item chevronLi" ng-click="helpers.g('/disclaimer');">
      <div class="blue">Disclaimer</div>
    </li>

    <li class="topcoat-list__item">
      <div class="blue" class="lbl">App version</div>
      <span style="display: block">{{AppVersion}}</span>      
    </li>


  </ul>

</div>



