&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack()">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5>{{pageContent.t1}}</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">
  <div class="pad10">
    <h3 class="blue" style="display: inline-block">{{pageContent.t2}}</h3>

    <p ng-repeat="p in pageContent.ps">
      <span once-html="p.t" ng-show="p.t.length > 0"></span>
      <span once-html="p.b"></span>
    </p>

    <br />

  </div>

  
  <ul class="topcoat-list__container list contactList">
    <li class="topcoat-list__item" ng-show="helpers.isOnline()">
      <div class="blue">Directory data last updated on</div>
      <span class="lstSpan">{{LastUpdatedOn}}</span>
      
      <span class="miniBtn" style="margin-left: 0px;" ng-click="updateData()">REFRESH DATA</span>
      <br />
    </li>

     <li class="topcoat-list__item chevronLi" ng-click="helpers.g('/disclaimer');">
      <div class="blue">Disclaimer</div>
    </li>

    <li class="topcoat-list__item">
      <div class="blue" class="lbl">App version</div>
      <span style="display: block">{{AppVersion}}</span>      
    </li>


  </ul>

</div>


<div class="bottomSpace"></div>
