&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack()">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5 style="margin-left: -20px; color: #fff;">About This App</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading data...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">
  <div class="pad10">

    <h5 style="float: left; min-height: 20px; margin-right: 10px;">©</h5>
    <h5 style="padding-left: 10px;">
      Moore Stephens International Limited
    </h5>
    <p>
      This directory lists the firms and companies that are members of Moore Stephens International Limited, and correspondent firms, and in the case of North America, all listed firms are members of Moore Stephens North America, which is itself a member of Moore Stephens International Limited.
    </p>
    <p>
      All the firms and companies listed are independent entities owned and managed in each location. 
      Neither their membership of Moore Stephens International Limited nor their inclusion in this directory should be construed as constituting or implying any partnership between them.
    </p>


  </div>
</div>


<div class="bottomSpace"></div>