<!--<div class="slideView" ng-class="slide">-->
  &nbsp;
  <div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
    <div class="topcoat-navigation-bar__item center full">
      <h5>Find People</h5>
    </div>
  </div>

  
  <p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading1...
  </p>


  <div ng-show="helpers.showLoading == false" class="firstContent">
    <div class="pad10Sides">
      <div class="paragDiv">Please either pick a country, or type in the search box and click on 'Find' button below.</div>
      <div class="pageInnerPanel">

        <div class="mstphInputFieldBordered">
          <select id="ddlCountry" ng-options="country.id as country.n for country in countries" ng-model="selectedCountryId" ng-change="redirectToCountry()">
            <option value="">Pick a country...</option>
          </select>
        </div>

        <div class="mstphInputFieldBordered">        <!--  onfocus="jQuery('html, body').animate({scrollTop: (jQuery(this).offset().top - 50)},500);" onblur="jQuery('html, body').animate({scrollTop: 0},500);" -->
          <input class="mstphSearchbox" ng-model="search" type="search" placeholder="Or, just search" ng-keypress=" $event.keyCode == 13 ? gotoContactSearch(search) : false" />
          <div class="mstphBtnArrow absPos">
            <i class="fa fa-times fa-times2" ng-show="search.length > 0" ng-click="removeSearch()"></i>
            <!--<span class="inlineFindBtn" ng-click="gotoContactSearch(search)">FIND</span>-->
          </div>
        </div>

      </div>

    </div>
  </div>

  
<!--</div>-->