&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack()">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5 style="margin-left: -20px; color: #fff;">Contact Us</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading data...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">
  <p class="pad10">
    Some text here... 
  </p>
</div>

<div>
  <div class="sm centAlign pad10" style="padding-bottom: 0">
    <a title="Follow MSIL on Twitter" target="_blank" href="http://twitter.com/MooreStephens"><img alt="Follow us on Twitter" src="http://www.moorestephens.com/Images/twitter.png" height="25"></a>
    <a title="Follow MSIL on LinkedIn" target="_blank" href="http://uk.linkedin.com/groups?gid=4651668"><img alt="Follow us on LinkedIn" src="http://www.moorestephens.com/Images/linkedin.png" height="25"></a>
    <a title="Follow MSIL on Facebook" target="_blank" href="https://www.facebook.com/pages/Moore-Stephens-International/666325096770795"><img alt="Follow us on Facebook" src="http://www.moorestephens.com/Images/fb.png" height="25"></a>
  </div>
</div>



<div class="bottomSpace"></div>