&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack(-1)">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5>Contact Details</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div class="details firstContent" ng-show="helpers && helpers.showLoading == false">
  <div class="subHeader contactHeader">
    <div class="fRight contactImg">
      <img ng-show="helpers.isOnline()" ng-src="https://api.moorestephens.org/i/msdirImg.ashx?cid={{contact.id}}" />
    </div>
    <h3 class="boldBlue" once-html="contact.n" ng-show="helpers.hasValueFunc(contact.n)"></h3>
    <div class="blue" once-html="contact.r" ng-show="helpers.hasValueFunc(contact.r)"></div> 
    <div ng-bind="contact.l + '&nbsp;'"></div> 
    <span class="miniBtnWithIcon" ng-click="dataMgr.toggleFavourite(contact.id, 'contact')">
      <i class="fa fa-star"></i>
      {{dataMgr.getFavLabel(contact.id, 'contact')}}
    </span>
    <div once-html="contact.no" ng-show="helpers.hasValueFunc(contact.no)"></div>
  </div>

   <ul class="topcoat-list__container list">

     <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(contact.t)">
      <a href="tel:{{helpers.getTel(contact.t)}}" ng-click="helpers.closeMenu()">
        <div class="blue">Call Office</div>
        <span class="lstSpan" once-html="contact.t"></span>
        <span class="icn phoneIcn">&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>


    <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(contact.m)">
      <a href="tel:{{helpers.getTel(contact.m)}}" ng-click="helpers.closeMenu()">
        <div class="blue">Call Mobile</div>
        <span class="lstSpan" once-html="contact.m"></span>
        <span class="icn phoneIcn">&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>

     <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(contact.m)">
      <a href="sms:{{helpers.getTel(contact.m)}}" ng-click="helpers.closeMenu()">
        <div class="blue">SMS / Text</div>
        <span class="lstSpan" once-html="contact.m"></span>
        <span class="icn smsIcn">&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>

     <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(contact.eml)">
      <a href="mailto:{{contact.eml}}" ng-click="helpers.closeMenu()">
        <div class="blue">Email</div>
        <span class="lstSpan" once-html="contact.eml"></span>
        <span class="icn emailIcn">&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>

     <li class="topcoat-list__item chevronLi" ng-click="helpers.g('/f/' + contact.fid)">
        <div class="blue">Primary Firm</div>
        <span once-html="contact.f" class="lstSpan"></span>
    </li>

    <li class="topcoat-list__item" ng-show="contact.tz != '0'" ng-click="helpers.g('/tz/' + contact.fid);">
      <div class="blue">Time Zone</div>
      <span class="lstItmDesc lstSpan" ng-bind="'GMT ' + contact.tz.toString()"></span>
      <span class="icn timezoneIcn"></span>       
    </li>

     <li class="topcoat-list__item" ng-click="helpers.openWebPage('hdnContactProfileUrl', true, true);" ng-show="helpers.isOnline()">
        <div class="blue">More Information</div>
        <span class="lstSpan">View more information about this person on www.moorestephens.com</span>
        <span class="icn urlIcn"></span>
        <input type="hidden" id="hdnContactProfileUrl" ng-value="helpers.getContactProfileUrl(contact.id)" />
    </li>

   </ul>

</div>

