&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item center full">
    <h5>Correspondent Firms</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div ng-show="helpers.showLoading == false" class="pad10Sides paragDiv firstContent">

    <div>Correspondent firms are not full member firms of Moore Stephens International Limited.</div>
    <span class="miniBtn" ng-click="helpers.g('/cFirmsInfo')">MORE INFO</span>
    <div style="clear: both"></div>
</div>

<div ng-repeat="country in countries | filter:searchDelayed" class="topcoat-list">
  <h2 class="topcoat-list__header town" once-text="country.n"></h2>
  <ul class="topcoat-list__container list firmList">
    <li ng-click="helpers.f(firm.id, 'c')" class="topcoat-list__item chevronLi" ng-repeat="firm in cFirms | filter:searchDelayed | filter:{cid: country.id}:true">
      <div once-html="firm.n"></div>
    </li>
  </ul>
</div>

<p ng-show="(countries|filter:searchDelayed).length == 0 && helpers.showLoading == false" class="pad10">
  No result found mathing the search criteria.
</p>



