<!--<div class="slideView" ng-class="slide">-->
  &nbsp;
  <div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
    <div class="topcoat-navigation-bar__item left quarter h100pc">
      <div class="prevIcnDiv" ng-click="helpers.g('/firms', -1)">
        <span class="icn prevIcn">&nbsp;</span>
      </div>
    </div>
    <div class="topcoat-navigation-bar__item center half">
      <h5 once-html="helpers.getCountryName(country.n)"></h5>
    </div>
  </div>

  <p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
  </p>

  <div ng-show="helpers.showLoading == false" class="firstContent">
    
    <div class="pad10" once-html="country.no" ng-show="helpers.hasValueFunc(country.no)"></div>

    <div class="pad10" ng-show="country.rd && helpers.hasValueFunc(country.rd.p)">
      <span class="miniBtn" ng-click="helpers.g(country.rd.p)" once-html="country.rd.t"></span>
    </div>

    <div class="pad10Sides" ng-show="towns.length > 1">
      <div class="mstphInputFieldBordered">
        <input type="search" class="mstphSearchbox" ng-model="search" class="topcoat-search-input--large" placeholder="Type text to filter the list" onkeypress="if ( event === true || event.keyCode === 13 ) this.blur();">
        <div class="mstphBtnArrow absPos">
          <i class="fa fa-times fa-times2" ng-show="search.length > 0" ng-click="removeSearch()"></i>
        </div>
      </div>
    </div>

    <div class="{{towns.length <= 1 ? 'topMarMinus10' : ''}}" ng-repeat="town in towns | filter:searchDelayed" class="topcoat-list {{(firms | filter:searchDelayedFunc | filter:{tid: town.id}:true).length <= 1 ? 'singleItemUL' : ''}}">
      <h2 class="topcoat-list__header town bold" once-text="town.n"></h2>
      <ul class="topcoat-list__container list firmList">
        <li ng-click="helpers.f(firm.id)" class="topcoat-list__item chevronLi" ng-repeat="firm in firms | filter:searchDelayedFunc | filter:{tid: town.id}:true">
          <div once-html="firm.n"></div>
          <span class="frmStatus" once-html="helpers.getFirmStatus(firm)" ng-show="helpers.hasValueFunc(firm.st)"></span>
        </li>
      </ul>
    </div>

    <p ng-show="helpers.hasValueFunc(country.no) == false && (towns|filter:searchDelayed).length == 0 && helpers.showLoading == false" class="pad10">
      No result found mathing the search criteria.
    </p>

  </div>

<!--</div>-->
