&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.g('/firms')">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4 once-html="helpers.getCountryName(country.n)"></h4>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading data...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">
  <div class="pad10">
    <div class="mstphInputFieldBordered">
      <select id="ddlState" ng-options="state.id as (state.id < 0 ? ' - Pick a state - ' : (state.id == selectedStateId ? state.n : state.n)) for state in country.states" ng-model="selectedStateId" ng-change="redirectToState()"></select>
    </div>


    <!--<div>
      <label class="topcoat-radio-button" ng-click="helpers.g('/countryWithStateContacts/' + country.id + '/' + selectedStateId)">
        <input type="radio" name="topcoat">
        <div class="topcoat-radio-button__checkmark"></div>
        Contacts
      </label>
      &nbsp;&nbsp;
      <label class="topcoat-radio-button">
        <input type="radio" name="topcoat" checked="checked">
        <div class="topcoat-radio-button__checkmark"></div>
        Member Firms
      </label>
    </div>

    <br />-->

    <div class="pad10" once-html="state.no" ng-show="helpers.hasValueFunc(state.no)"></div>

    <div ng-show="(filter:{sid: state.id}:true).length > 1">
      <br />
      <div class="mstphInputFieldBordered">        
        <input class="mstphSearchbox" ng-model="search" placeholder="Type text to filter results" type="search" onkeypress="if ( event === true || event.keyCode === 13 ) this.blur();">
      </div>
    </div>
  </div>
</div>

<div>
  <div ng-repeat="town in towns | filter:searchDelayed | filter:{sid: state.id}:true | orderBy:'n'" class="topcoat-list">
      <h2 class="topcoat-list__header town" once-text="town.n"></h2>
      <ul class="topcoat-list__container list firmList">
        <li ng-click="helpers.f(firm.id)" class="topcoat-list__item chevronLi" ng-repeat="firm in firms | filter:searchDelayed | filter:{tid: town.id}:true | orderBy:'n'">
          <div once-html="firm.n"></div>
          <span class="frmStatus" once-html="helpers.getFirmStatus(firm)" ng-show="helpers.hasValueFunc(firm.st)"></span>
        </li>
      </ul>
  </div>

  <p ng-show="(towns|filter:searchDelayed | filter:{sid: state.id}:true).length == 0 && helpers.showLoading == false" class="pad10">
    No result found mathing the search criteria.
  </p>

</div>

<div class="bottomSpace"></div>