&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.g('/contacts')">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4 once-html="helpers.getCountryName(country.n)"></h4>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div class="firstContent" ng-show="helpers.showLoading == false">

  <div class="pad10">
    <div class="mstphInputFieldBordered">
      <i class="fa fa-times fa-times1" ng-show="search.length > 0" ng-click="search=''; searchDelayed=''"></i>
      <input type="search" class="mstphSearchbox" style="background: #EEE; width: 98%; font-size: 1rem;" ng-model="search" class="topcoat-search-input--large" placeholder="Type text to filter the list" onkeypress="if ( event === true || event.keyCode === 13 ) this.blur();">
    </div>
  </div>

  <div class="prevNextBtnDiv" ng-show="(contacts | filter:searchDelayedFunc | filter:{cid: country.id}:true).length > helpers.paging.pageSize" mstph-paginate mstph-paginate-total-item-count="{{(contacts | filter:searchDelayedFunc | filter:{cid: country.id}:true).length}}" mstph-paginate-page-size="{{helpers.paging.pageSize}}"></div>

  <ul class="topcoat-list__container list firmList">
    <li ng-click="helpers.c(contact.id)" class="topcoat-list__item chevronLi" ng-repeat="contact in contacts | filter:searchDelayedFunc | filter:{cid: country.id}:true | orderBy:[relevanceFunc, 'ln'] | startFrom: helpers.paging.startFrom | limitTo: helpers.paging.pageSize">
      <div once-text="contact.n" class="boldBlue"></div>
      <div once-show="helpers.hasValueFunc(contact.r)" once-html="contact.r + '<br/>'"></div>
      <span class="lstSpan" once-html="contact.f + contact.l.replace(', ' + country.n, '')"></span>
    </li>
  </ul>

  <p ng-show="(contacts|filter:searchDelayedFunc | filter:{cid: country.id}:true).length == 0 && helpers.showLoading == false" class="pad10">
    No result found mathing the search criteria.
  </p>
</div>

<div class="bottomSpace"></div>

