&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack(-1)">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4>Bookmarks</h4>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">

  <div class="pad10">
    <div class="mstphCFRadioDiv">
      <label class="topcoat-radio-button" ng-click="helpers.g('/favContacts/' + search)">
        <input type="radio" name="topcoat">
        <div class="topcoat-radio-button__checkmark"></div>
        Contacts
      </label>
      &nbsp;&nbsp;
      <label class="topcoat-radio-button">
        <input type="radio" name="topcoat" checked="checked">
        <div class="topcoat-radio-button__checkmark"></div>
        Firms
      </label>
    </div>
  </div>

  <!--<input type="search" ng-model="search" class="topcoat-search-input--large" placeholder="Type text to filter results">-->

  <div class="prevNextBtnDiv" ng-show="(firms | filter:searchDelayedFunc).length > helpers.paging.pageSize" mstph-paginate mstph-paginate-total-item-count="{{(firms | filter:searchDelayedFunc).length}}" mstph-paginate-page-size="{{helpers.paging.pageSize}}"></div>

  <ul class="topcoat-list__container list firmList" ng-show="(firms|filter:searchDelayedFunc).length > 0">
    <li ng-click="helpers.f(firm.id)" class="topcoat-list__item chevronLi" ng-repeat="firm in firms | filter:(searchDelayedFunc) | orderBy:'n' | startFrom: helpers.paging.startFrom | limitTo: helpers.paging.pageSize">
      <div ng-bind-html="firm.n" class="boldBlue"></div><br />
      <span once-html="firm.l"></span>
      <span class="frmStatus" once-html="helpers.getFirmStatus(firm)" ng-show="helpers.hasValueFunc(firm.st)"></span>
    </li>
  </ul>

  <p ng-show="!((firms|filter:searchDelayedFunc).length > 0)" class="pad10">
    You have no bookmarked firms.
  </p>

</div>

<div class="bottomSpace"></div>

