&nbsp; 
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack(-1)">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5>Firm Address</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div class="details" ng-show="helpers.showLoading == false">
  <div class="subHeader firstContent">
    <h3 class="boldBlue" ng-bind-html="firm.n"></h3>
    <h4 once-html="firm.l"></h4>
  </div>

  <ul class="topcoat-list__container list firmList">

    <li class="topcoat-list__item">
      <span ng-bind-html="firm.ad"></span>     
    </li>

    <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.mad)">
        <div class="blue">Mailing Address</div>
        <span ng-bind-html="firm.mad"></span>     
    </li>

    <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.f)">
      <div class="blue">Facsimile</div>
      <span once-html="firm.f"></span>      
    </li>

    <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.cm)">
      <span ng-bind-html="firm.cm"></span>      
    </li>

  </ul>
</div>

