&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.goBack(-1)">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5>Contacts</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p>

<div ng-show="helpers.showLoading == false" class="firstContent">

  <div class="subHeader">
    <h3 class="boldBlue" ng-bind-html="firm.n"></h3>
    <div once-html="firm.l"></div>
    <span class="frmStatus"  ng-show="helpers.hasValueFunc(firm.st)" ng-bind-html="helpers.getFirmStatus(firm)"></span>
  </div>

  <ul class="topcoat-list__container list contactList" ng-show="helpers.hasValueFunc(firm.cmp)">
    <li>
      <p class="pad10Sides" ng-bind-html="firm.cmp"></p>
    </li>
  </ul>

  <ul class="topcoat-list__container list contactList" ng-show="helpers.hasValueFunc(firm.cm)">
    <li>
      <p class="pad10Sides" ng-bind-html="firm.cm"></p>
    </li>
  </ul>

  <ul class="topcoat-list__container list contactList" ng-show="internationalContacts.length > 0">
    <li>
      <h2 class="topcoat-list__header town">International Liaison{{internationalContacts.length > 1 ? "s" : ""}}</h2>
    </li>

    <li ng-click="helpers.c(contact.id)" class="topcoat-list__item chevronLi" ng-repeat="contact in internationalContacts">
      <div once-html="contact.n"></div>
      <div class="blue" ng-show="helpers.hasValueFunc(contact.r)" once-html="contact.r"></div>
    </li>
  </ul>

  <ul class="topcoat-list__container list contactList" ng-show="helpers.hasValueFunc(firm.cml)">
    <li>
      <p class="pad10Sides" ng-bind-html="firm.cml"></p>
    </li>
  </ul>


  <ul class="topcoat-list__container list contactList" ng-show="contacts.length > 0">
    <li>
      <h2 class="topcoat-list__header town">{{contacts.length > 1 ? "Partners/Directors" : contacts[0].r}}</h2>
    </li>

    <li ng-click="helpers.c(contact.id)" class="topcoat-list__item chevronLi" ng-repeat="contact in contacts">
      <div once-html="contact.n"></div>
      <div class="blue" ng-show="helpers.hasValueFunc(contact.r) && contacts.length > 1" once-html="contact.r"></div>
    </li>
  </ul>
  
</div>



