&nbsp;
<div ng-show="helpers.showLoading == false" class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.g('#')">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h5>Regional Executive Offices</h5>
  </div>
</div>

<p ng-show="helpers.showLoading == true" class="pad10 centAlign firstContent">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</p> 

<div class="reoList firstContent" ng-show="helpers && helpers.showLoading == false">

  <div>
    <p class="pad10">
      Tap on a region heading below to expand/collapse the details of a regional executive office and its contacts. 
    </p>
  </div>
  <!--<input value="{{currentlyOpenFirms}}" />-->
  <div ng-repeat="firm in reos" class="topcoat-list reoListItem">
    <h3 class="topcoat-list__header pad10" ng-click="toggleFirm(firm.reoid);">
      <a id="{{firm.reoid}}"></a>
      {{firm.sn}}
      <i class="fa fa-angle-double-down fright" ng-show="!isVisible(firm.reoid)"></i>
      <i class="fa fa-angle-double-up fright" ng-show="isVisible(firm.reoid)"></i>
    </h3>

    <div  class="details reoDetailsDiv reoDetailsDiv{{firm.reoid}}" style="display: none">
      <div class="pad1_25rem">
        <div class="reon boldBlue" once-html="firm.reon"></div><br />
        <span ng-bind-html="firm.ad" once-html="firm.ad"></span>
        <br /><br />

        <div ng-show="helpers.hasValueFunc(firm.f)">
          <div once-html="'Facsimile: ' + firm.f"></div>
        </div>

        <div once-html="firm.reon" ng-show="helpers.hasValueFunc(firm.no)"></div>

      </div>

      <ul class="topcoat-list__container list firmList">
        <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.t)">
          <a href="tel:{{helpers.getTel(firm.t)}}" ng-click="helpers.closeMenu()">
            <div class="blue">Call Office</div>
            <span class="lstItmDesc lstSpan" once-html="firm.t"></span>
            <span class="icn phoneIcn">&nbsp;&nbsp;&nbsp;</span>        
          </a>
        </li>

        <li class="topcoat-list__item" ng-show="firm.tz != '0'">
          <span>
            <div class="blue">Time Zone</div>
            <span class="lstItmDesc lstSpan" once-html="'GMT ' + firm.tz"></span>
            <span class="icn timezoneIcn">&nbsp;&nbsp;&nbsp;</span>       
          </span>
        </li>

        <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.eml)">
          <a href="mailto:{{firm.eml}}" ng-click="helpers.closeMenu()">
            <div class="blue">Email</div>
            <span class="lstItmDesc lstSpan" once-html="firm.eml"></span>
            <span class="icn emailIcn">&nbsp;&nbsp;&nbsp;</span>
          </a>
        </li>

        <li class="topcoat-list__item" ng-show="helpers.isOnline() && helpers.hasValueFunc(firm.u)" ng-click="helpers.openWebPage2(helpers.getUrl(firm.u), true, true);">
          <span>
            <div class="blue">Website</div>
            <span class="lstItmDesc lstSpan">Visit this firm's public website</span>
            <span class="icn urlIcn">&nbsp;&nbsp;&nbsp;</span>
            <input type="hidden" id="hdnFirmWebUrl" ng-value="helpers.getUrl(firm.u)" />
          </span>
        </li>
      </ul>

      <h5 class="topcoat-list__header town2">CONTACTS</h5>
      <ul class="topcoat-list__container list firmList">
        <li ng-click="helpers.c(member.id)" class="topcoat-list__item chevronLi" ng-repeat="member in firm.members">
          <div class="blue" once-html="member.n"></div>
          <span class="lstSpan" once-html="member.r"></span>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="bottomSpace"></div>