<div>

  <p ng-show="helpers.showLoading == true" class="centAlign firstContent">
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading data...
  </p>

  <div ng-show="helpers.showLoading == false">
    <div class="" style="position: absolute; top: 0%; width: 100%; background: #fff; padding-top: 15%; padding-bottom: 20%;">    
      <div class="centAlign">
        <img src="img/logo/fullLogo2.png"/>
      </div>   
    </div>  
    
    <div class="patternBackgroundBlue" style="border-top: 4px solid #99e1fc; color: #fff; font-size: 24px; position: absolute; bottom: 3%; width: 100%; padding-top: 10%; padding-bottom: 20%;">
      <span style="border-left: 6px solid #7AC143; position: absolute; right: 0; padding: 4px; padding-left: 18px; padding-right: 18px; background: rgba(68, 68, 68, 0.7); ">
        International Directory
      </span>
      <br />
      <span style="border-left: 6px solid #7AC143; position: absolute; right: 0; margin-top: 14px;padding: 4px; padding-left: 18px; padding-right: 18px; background: rgba(102, 102, 102, 0.7); ">
        {{currentYear}}
      </span>
      <br /><br /><br />
      <div class="centAlign">
        <a ng-click="helpers.g('/appInfo')"><i class="fa fa-info-circle" style="font-size: 38px; color: #fff;"></i></a>
      </div>

      <br />

      

    </div>  
  </div>

  


</div>

<div class="bottomSpace"></div>


